<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.board">
	<select id="getLogin" resultType="LoginDto" parameterType="Map">
		SELECT ID, NAME, PASSWORD, ADDRESS, PHONE, EMAIL, ENABLED, ROLE
		FROM USERINFO WHERE ID=#{id} AND PASSWORD=#{password} AND ENABLED='Y'
	</select>
	
	<!-- 	순서 모를때 2번쨰 줄처럼 넣어주면 알아서 넣어준다. -->
	<insert id="insertUser" parameterType="LoginDto">
		INSERT INTO USERINFO (id,password,name,address,phone,email,enabled,role,regdate) VALUES 
		(#{id},#{password},#{name},#{address},#{phone},#{email},'Y','USER',SYSDATE)
	</insert>
	
	<select id="idChk" parameterType="Map" resultType="String" >
		SELECT ID
		FROM USERINFO WHERE ID=#{id}
	</select>
</mapper>